@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.guest-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background: #55bcc9;
  color: #2f2f2f; }
  .guest-home__container {
    margin-top: -140px; }
    .guest-home__container--text {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .guest-home__container--button {
      display: flex;
      justify-content: space-between;
      width: 160px;
      margin-top: 10px; }
  .guest-home__header {
    font-weight: bold;
    font-size: 3em;
    text-align: center; }
  .guest-home__subheader {
    font-size: 1.5em;
    text-align: center; }
  .guest-home__button {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    color: #2f2f2f;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    width: 80px;
    height: 40px;
    border: 0.5px solid #55bcc9;
    background: #55bcc9;
    transition: 0.3s; }
    .guest-home__button:hover {
      cursor: pointer;
      background: #51b0bc; }

.register {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #2f2f2f;
  background: #55bcc9;
  height: 100vh; }
  .register__container {
    margin-top: 50px;
    padding: 20px;
    background: #fdfdfd;
    height: 75%;
    width: 33%; }
    .register__container > hr {
      margin-top: 20px; }
    @media (max-width: 500px) {
      .register__container {
        width: 80%; } }
  .register__header {
    text-align: center; }
  .register__form {
    display: flex;
    flex-direction: column; }
  .register__label {
    font-weight: bold;
    margin-top: 20px; }
  .register__input {
    height: 50px; }
  .register__submit {
    color: #2f2f2f;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px; }
    .register__submit:hover {
      cursor: pointer; }

.login {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #2f2f2f;
  background: #55bcc9;
  height: 100vh; }
  .login__container {
    margin-top: 50px;
    padding: 20px;
    background: #fdfdfd;
    height: 75%;
    width: 33%; }
    .login__container > hr {
      margin-top: 20px; }
    @media (max-width: 500px) {
      .login__container {
        width: 80%; } }
  .login__header {
    text-align: center; }
  .login__form {
    display: flex;
    flex-direction: column; }
  .login__label {
    font-weight: bold;
    margin-top: 20px; }
  .login__input {
    height: 50px; }
  .login__submit {
    color: #2f2f2f;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px; }
    .login__submit:hover {
      cursor: pointer; }
