@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.guest-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background: #55bcc9;
  color: #2f2f2f; }
  .guest-home__container {
    margin-top: -140px; }
    .guest-home__container--text {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .guest-home__container--button {
      display: flex;
      justify-content: space-between;
      width: 160px;
      margin-top: 10px; }
  .guest-home__header {
    font-weight: bold;
    font-size: 3em;
    text-align: center; }
  .guest-home__subheader {
    font-size: 1.5em;
    text-align: center; }
  .guest-home__button {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    padding: 5px;
    color: #2f2f2f;
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    width: 80px;
    height: 40px;
    border: 0.5px solid #55bcc9;
    background: #55bcc9;
    transition: 0.3s; }
    .guest-home__button:hover {
      cursor: pointer;
      background: #51b0bc; }

.register {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #2f2f2f;
  background: #55bcc9;
  height: 100vh; }
  .register__container {
    margin-top: 50px;
    padding: 20px;
    background: #fdfdfd;
    height: 75%;
    width: 33%; }
    .register__container > hr {
      margin-top: 20px; }
    @media (max-width: 500px) {
      .register__container {
        width: 80%; } }
  .register__error {
    font-weight: bold;
    color: red;
    text-align: center; }
  .register__header {
    text-align: center; }
  .register__form {
    display: flex;
    flex-direction: column; }
  .register__label {
    font-weight: bold;
    margin-top: 20px; }
  .register__input {
    height: 50px; }
  .register__submit {
    color: #2f2f2f;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px; }
    .register__submit:hover {
      cursor: pointer; }

.login {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  color: #2f2f2f;
  background: #55bcc9;
  height: 100vh; }
  .login__container {
    margin-top: 50px;
    padding: 20px;
    background: #fdfdfd;
    height: 75%;
    width: 33%; }
    .login__container > hr {
      margin-top: 20px; }
    @media (max-width: 500px) {
      .login__container {
        width: 80%; } }
  .login__error {
    font-weight: bold;
    color: red;
    text-align: center; }
  .login__header {
    text-align: center; }
  .login__form {
    display: flex;
    flex-direction: column; }
  .login__label {
    font-weight: bold;
    margin-top: 20px; }
  .login__input {
    height: 50px; }
  .login__submit {
    color: #2f2f2f;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px; }
    .login__submit:hover {
      cursor: pointer; }

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fdfdfd;
  color: #2f2f2f;
  padding: 20px;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .tweet__user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .tweet__icon {
    height: 50px;
    width: auto;
    border: 1px solid #2f2f2f;
    border-radius: 50%; }
  .tweet__info {
    height: 100%;
    width: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: column; }
  .tweet__tweeter {
    margin-left: 10px;
    font-weight: bold; }
  .tweet__text {
    margin-top: 10px;
    width: 100%;
    overflow-wrap: break-word;
    height: 100%; }
  @media (max-width: 1200px) {
    .tweet {
      height: 200px; } }

.dashboard {
  min-height: 100vh;
  max-height: 100%;
  min-width: 100vw;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  background: #55bcc9;
  align-items: center; }
  .dashboard__header {
    display: flex;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #fdfdfd;
    width: 100vw;
    justify-content: space-between; }
  .dashboard__title {
    text-align: center; }
  .dashboard__logout {
    margin-right: 20px; }

.tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 40%; }
  .tweets-container > .tweet {
    width: 100%; }
  @media (max-width: 650px) {
    .tweets-container {
      width: 90%; } }

.tweet-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 70%; }
  .tweet-input__input {
    height: 50px;
    width: 50%; }
    @media (max-width: 650px) {
      .tweet-input__input {
        width: 90%; } }
  .tweet-input__chars {
    margin-left: 10px; }
