.dashboard {
  min-height: 100vh;
  max-height: 100%;
  min-width: 100vw;
  max-width: 100%;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  background: $pastel-blue;
  align-items: center;

  &__header {
    display: flex;
    opacity: 1;
    transition: opacity 0.25s;
    position: sticky;
    top: 0;
    padding: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: $off-white;
    width: 100vw;
    justify-content: space-between;

    &--scrolled {
      opacity: 0.7;
    }
  }

  &__title {
    text-align: center;
  }

  &__logout {
    margin-right: 20px;
  }
}

.tweets-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 40%;

  > .tweet {
    width: 100%;
  }

  @media (max-width: 650px) {
    width: 90%;
  }
}

.tweet-input {
  display: flex;
  flex-direction: column;
  background: $off-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;

  &__header {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__input {
    height: 75px;
    width: 75%;

    @media (max-width: 650px) {
      width: 90%;
    }
  }

  &__chars {
    margin-left: 10px;
  }
}
