.tweet {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: flex-start;
  background: $off-white;
  color: $off-black;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &:hover {
    cursor: pointer;
  }

  &__user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__icon {
    height: 50px;
    width: auto;
    border: 1px solid $off-black;
    border-radius: 50%;
  }

  &__tweeter {
    margin-left: 10px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    margin-top: 10px;
    width: 100%;
    overflow-wrap: break-word;
  }

  &__buttons {
    align-self: flex-end;
  }

  &__button {
    margin-right: 10px;
  }
}
